<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to 365-A2</title>

</head>
<body>
<div style="margin:100px;">
    {% include 'header.html' %}
    <div class="jumbotron" style="padding:40px;">

        <h1>DCT transform
            <button type="button" class="btn"><a href="/dct?show=1">Show</a></button>
        </h1>
        {%- if message.show == False -%}
        <form action="" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
        {%- endif %}
        {%- if message.show == True -%}
        <div class="row">
            <div class="col-lg-4">
                <h2>Original img</h2>
                <img class="resize" src="../static/uploads/temp_2.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>Y color space</h2>
                <img class="resize" src="../static/uploads/temp_2_dct_1.jpg" alt="original">
                <h2>U color space</h2>
                <img class="resize" src="../static/uploads/temp_2_dct_2.jpg" alt="original">
                <h2>V color space</h2>
                <img class="resize" src="../static/uploads/temp_2_dct_3.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Choose image quality
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:changeBody(1)">Q = 100</a></li>
                        <li><a href="javascript:changeBody(2)">Q = 75</a></li>
                        <li><a href="javascript:changeBody(3)">Q = 50</a></li>
                        <li><a href="javascript:changeBody(4)">Q = 25</a></li>
                    </ul>
                </div>

                <div id="myclass1">
                    <h2>Q = 100</h2>
                    <img class="resize" src="../static/uploads/temp_2_100.jpg" alt="original">
                </div>
                <div style="display: none" id="myclass2">
                    <h2>Q = 75</h2>
                    <img class="resize" src="../static/uploads/temp_2_75.jpg" alt="original">
                </div>
                <div style="display: none" id="myclass3">
                    <h2>Q = 50</h2>
                    <img class="resize" src="../static/uploads/temp_2_50.jpg" alt="original">
                </div>
                <div style="display: none" id="myclass4">
                    <h2>Q = 25</h2>
                    <img class="resize" src="../static/uploads/temp_2_25.jpg" alt="original">
                </div>

            </div>
        </div>
        {%- endif %}

    </div>
</div>
</body>
{% include 'footer.html' %}
</html>