<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to 365-A2</title>

</head>
<body>
<div style="margin:100px;">
    {% include 'header.html' %}
    <div class="jumbotron" style="padding:40px;">
        <h1>Chroma subsampling</h1>
        <div class="row">
            <div class="col-lg-4">
                <h2>Original img</h2>
                <img class="resize" src="../static/uploads/demo.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>Y color space</h2>
                <img class="resize" src="../static/uploads/demo_Y.jpg" alt="original">
                <h2>U color space</h2>
                <img class="resize" src="../static/uploads/demo_U.jpg" alt="original">
                <h2>V color space</h2>
                <img class="resize" src="../static/uploads/demo_V.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>4:2:0 subsampling</h2>
                <img class="resize" src="../static/uploads/demo_4_2_0.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>4:2:2 subsampling</h2>
                <img class="resize" src="../static/uploads/demo_4_2_2.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>4:4:4 subsampling</h2>
                <img class="resize" src="../static/uploads/demo.jpg" alt="original">
            </div>
        </div>

    </div>
    <div class="jumbotron" style="padding:40px;">
        <h1>DCT transformation</h1>
        <div class="row">
            <div class="col-lg-4">
                <h2>Original img</h2>
                <img class="resize" src="../static/uploads/demo_2.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>Y color space</h2>
                <img class="resize" src="../static/uploads/demo_2_dct_1.jpg" alt="original">
                <h2>U color space</h2>
                <img class="resize" src="../static/uploads/demo_2_dct_2.jpg" alt="original">
                <h2>V color space</h2>
                <img class="resize" src="../static/uploads/demo_2_dct_3.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>4:2:0 subsampling</h2>
                <img class="resize" src="../static/uploads/demo_4_2_0.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>4:2:2 subsampling</h2>
                <img class="resize" src="../static/uploads/demo_4_2_0.jpg" alt="original">
            </div>
            <div class="col-lg-4">
                <h2>4:4:4 subsampling</h2>
                <img class="resize" src="../static/uploads/demo.jpg" alt="original">
            </div>
        </div>

    </div>

</div>
</body>
{% include 'footer.html' %}
</html>