<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Express HTML</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/chroma">Chroma</a>
            </li>
            <li>
                <a href="/dct">DCT</a>
            </li>
            <li>
                <a href="/demo">demo</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>

        </ul>
    </div>
</nav>